$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url(https://fonts.googleapis.com/css?family=Rock+Salt);
@import url(https://fonts.googleapis.com/css?family=Satisfy);

body {
  // font-family: 'Satisfy', cursive;
  background-image: url('https://i.imgur.com/DZcQDA8.jpg');
  background-size: 100%auto;
  font-size: 20px;
}

.jumbotron {
  font-family: 'Satisfy', cursive;
}

.hidden{
  display: none;
}

// .show-for-visitor {
//   display: block;
// }

// .show-for-user {
//   display: block;
// }
