$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url(https://fonts.googleapis.com/css?family=Rock+Salt);

body {
  // font-family: 'Rock Salt', cursive;
  background-image: url('https://smhttp-ssl-5891.nexcesscdn.net/media/catalog/product/cache/1/image/1800x/6b9ffbf72458f4fd2d3cb995d92e8889/b/o/bobloblawheather_fullpic.png');
  font-size: 20px;
}

.hidden{
  display: none;
}

// .show-for-visitor {
//   display: block;
// }

// .show-for-user {
//   display: block;
// }
